

:root {
  --solar-system-text: rgb(154, 84, 154);
  --planets-text: rgb(193, 255, 128);
  --galaxy-text-color: #e2ff5e;
  --galaxy-bg: #ffabab;
  --solar-system-bg: #d4b5d2;
  --planets-bg: #8168ff;
}


.galaxy {
  color: var(--galaxy-text-color);
  background-color: var(--galaxy-bg);
  padding: 20px;
  font-family: sans-serif;
}


.solar-system {
  color: var(--solar-system-text);
  background-color: var(--solar-system-bg);
  padding: 10px;
  margin-top: 20px;
}


.planets {
  color: var(--planets-text);
  background-color: var(--planets-bg);
  padding: 10px;
  margin-top: 20px;
}
